.root {  
  text-align: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.app-header {
  color: green;
  font-size: 50px;  
}



.nav-tab {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.nav-button {  
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #000021;
  background: #1de9b6;
  line-height: 1.15;
  font-size: 16px;  
}
